body{
    background-color: lightcoral;
}

.hhh{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bttnone{
    background-color: black;
}

.bttntwo{
    border-radius: 20px;
}

